$color-base:#2f394d;
$color-background:#ebecf1;
$color-white:#ffffff;
$color-border:#e3e3e3;
$color-blue:#009cfa;

$img-logo:"./img/logo.png";

//ant 基础配置
$primary-color          : #2db7f5;
$dark-primary-color     : #202633;
$info-color             : #2db7f5;
$success-color          : #87d068;
$error-color            : #f50;
$warning-color          : #fa0;