.container{
    min-width: 1200px;
    min-height: 100vh;
    background-color: $color-background;
    position: relative;
    @extend .flex;
    @include direction-layout(column);
}

.top{
    @extend .flex;
    @include v-layout(center);
    background-color: $color-white;
    box-shadow: 1px 2px 3px rgba(11,3,6,.1);
}

.content{
    @extend .flex;
    overflow: hidden;
    flex: 1;
}

.content .left{
    background-color: $color-base;
    width: 240px;
    overflow: hidden;
}

.content .main{
    @include flex-layout(1);
    margin-top: 10px;
    overflow: hidden;
    margin: 10px 30px 0 30px;
}
